@import "variables";
@mixin button {
  color: $color_two;
  text-decoration: none;
  transition: color 0.2s linear;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  position: relative;
}
$map: (
  padding: 30px,
  margin: 20px,
);
body {
  margin: 0;
  font-family: $font;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  color: #f8f8f8;
  padding-top: 50px;
  height: 2000px;
  background: $back;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
*,
::before,
:after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #333;
  padding-top: 5px;
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      font-size: 30px;
      font-weight: 700;
      a {
        @include button();
      }
    }
  }
}

.nav {
  font-size: 16px;
  text-transform: uppercase;
  a {
    @include button();
    transition: 0.5s;
    border-radius: 3px;
  }
  a:after {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
  }
  a:hover {
    color: $color;
    background: #fff;
  }
  .nav__link:hover::after {
    display: block;
    color: $color;
    text-decoration: none;
  }
}
.intro {
  width: 100%;
  background: url("../images/intro.jpg") center no-repeat;
  -webkit-backgorund-size: cover;
  background-size: cover;
  height: 100vh;
  .intro__title {
    font-family: "Russo One", sans-serif;
    display: block;
    padding-left: 850px;
    padding-top: 400px;
    a {
      font-size: 45px;
      font-weight: 700;
      color: #959ea3d5;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      text-decoration: none;
    }
    a:hover {
      color: #1f9ee7;
    }
  }
}

.main__content {
  flex: 1;
  color: rgb(255, 255, 255);
  max-width: 1200px;
  margin-left: 240px;
  margin-right: 240px;
  padding: 80px 0;
  h2 {
    font-size: 60px;
  }
}

.main__video {
  text-align: center;
  padding-bottom: map-get($map: $map, $key: padding);
}
.post__video {
  font-size: map-get($map: $map, $key: padding);
  padding-bottom: map-get($map: $map, $key: padding);
}
ul {
  list-style-type: none;
  li:before {
    content: "\203B ";
    padding-right: 6px;
    font-size: map-get($map: $map, $key: padding);
    color: #00b2bf;
    font-weight: bold;
    a {
      color: #f8f8f8;
      text-decoration: none;
      transition: color 0.2s linear;
      display: inline-block;
      vertical-align: top;
      position: relative;
      transition: 0.5s;
      border-radius: 3px;
    }
    a:after {
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      display: none;
    }
    a:hover {
      color: $color;
      background: #fff;
    }
    a:hover::after {
      @extend .nav__link;
    }
  }
}

.flex-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  .first {
    /* background: red; */
    height: 200px;
    flex-grow: 3;
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    a {
      font-size: 14px;
      display: block;
      color: white;
      text-decoration: none;
      border: 2px solid;
      border-radius: 3px;
      transition: 0.2s;
    }
    a:hover {
      background: rgba(255, 255, 255, 0.2);
    }
    a:active {
      background: white;
    }
  }
}

.second {
  /* background: green; */
  height: 200px;
  flex-grow: 7;
  overflow: auto;
  padding-left: map-get($map: $map, $key: margin);
  padding-right: map-get($map: $map, $key: margin);
  text-align: justify;
}
.footer {
  background-color: #333;
  padding-bottom: map-get($map: $map, $key: padding);
  padding-top: map-get($map: $map, $key: padding);
  .footer__text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
  }
}

.link__facebook {
  display: inline-block;
  vertical-align: top;
  padding: 8px map-get($map: $map, $key: margin);
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
}

.link__facebook::after {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
.link__facebook:hover {
  color: $color;
  background: #fff;
}
.link__instagram {
  display: inline-block;
  vertical-align: top;
  padding: 8px map-get($map: $map, $key: margin);
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
}

.link__instagram::after {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
.link__instagram:hover {
  color: #e422b3;
  background: #fff;
}
.link__youtube {
  display: inline-block;
  vertical-align: top;
  padding: 8px map-get($map: $map, $key: margin);
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
}

.link__youtube::after {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
.link__youtube:hover {
  color: #dd1a3b;
  background: #fff;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease 0s;
  &.open {
    visibility: visible;
    opacity: 0.9;
    transition: all 0.8s ease 0s;
  }
}
.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_content {
  background-color: white;
  color: black;
  width: 400px;
  max-width: 800px;
  padding: 30px;
  position: relative;
}
form {
  text-align: left;
  p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  .input {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 30px;
    outline: none;
  }
  button {
    display: block;
    width: 30%;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 40px;
    background-color: white;
    transition: 0.3s;
    outline: none;
    &:hover {
      transform: scale(1.1);
    }
  }
}

#section_button {
  padding: 20px;
  font-size: 20px;
}
textarea {
  resize: none;
  width: 100%;
  height: 100px;
  padding: 10px;
}

.main_phto {
  display: flex;
  margin: 20px 0;
  a {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    width: 250px;
  }
}

.tabs_content_item {
  display: none;
  padding: 5px 0;
  text-align: left;
}
.tabs_content_item_active {
  display: block;
}

.acordion_item:nth-child(2) {
  margin: 20px 0;
}
.acordion_item_trigger {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_two;
  color: #333333;
  padding: 20px;
  border: 1px solid $color;
  cursor: pointer;
  transition: all 0.3s;
}
.acordion_item_trigger_active {
  transition: all 0.3s;
  color: white;
  background-color: #333333;
}
.fa-arrow-down {
  transition: all 0.3s;
}
.acordion_item_trigger_active .fa-arrow-down {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.acordion_item_content {
  padding: 20px;
  border: 1px solid $color;
  display: none;
}

#sortable{
    display: flex;
    justify-content: space-between;
    li{
        border: 2px solid #333333;

    }
}